                            // SERVICES
#services{
    min-height: 100vh;
    text-align: center;
    // justify-content: center;
    align-items: center;
    padding: 10rem 0;


    .services-head{
        min-height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
    }

    .row{
        //min-height: 90%;
        width: 90%;
        //margin: auto;
        //display: flex;
        //justify-content: space-evenly;
        
        //flex-wrap: wrap;
        // flex: 1 1 20;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
        gap: 7rem;
        margin: auto;
        align-items: center;
        padding: 5rem;
        
    }

    .card{
        //min-height: 40vh;
        //width: 25rem;
        //justify-content: center;
        //margin: 2rem 4rem;
        //padding: 3rem;
        //box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
        box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
        background-color: $redish;
        // flex: 1rem 1rem 20rem;

        &:hover{
            cursor: pointer;
            //box-shadow: 1rem 1rem 1rem rgba($redish, 0.2)
        }

        &-head{
            //min-height: 10vh;
            width: 100%;
            padding: 3rem;
            //background-color: $redish;

            span .svgProj{
                color: white;
            }
            
        }

        &-body{
            //`min-height: 20vh;
            padding: 3rem;
            //border: none;
            background-color: $white;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
            //border-bottom-right-radius: 3rem;
            border-bottom-left-radius: 3rem;
        }

        h3{
            padding: 5rem 0;
            //font-weight: 500;
            //margin-bottom: 2rem;
            
            //margin: 0 1rem;
        }

        span img{
            //text-align: center;
            width: 5rem;
        }

        .read-more{
            text-decoration: none;
            font-size: 2.2rem;
            padding: 0.5rem 1rem;
            width: 100%;
            color: $redish;
            border: 0.1rem solid $redish;
            border-radius: 1.8rem;
    
            &:hover{
                //transform: translateY(1rem);
                //box-shadow: 0 1rem 2rem rgba($redish, 0.2);
                background-color: $redish;
                color: $white;
            }
        }
        
    }

}

                        // EVENTS
 #events{
     .event-wrapper{
        //  position: relative;
         min-height: 80vh;
         
     }
     .event-header{       
        min-height: 80vh;
        //display: flex;
        align-items: center;
        color:#fff;
        position: relative;
        //padding: 0 15rem;
    }

    // event-container{
    //     max-width: 960px;
    //     padding: 0 1rem;
    //     margin: auto;
    //     text-align: center;
    // }

    .event-clip{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        overflow-y: hidden;
        

        video{
            min-height: 100%;
            min-width: 100%;
        }
    }

    .header-overlay{
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 80vh;
        z-index: 1;
        background: $gray;
        opacity: 0.85;
        //padding: 0 15rem;
        //padding: 3rem 0;
        //overflow: hidden;

        h1{
            text-align: center;
            //padding: 10rem;
            margin: 9rem auto;
            
        }

        .fae{
            
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
            gap: 2rem;
            //padding: 0 15rem;
            //align-items: center;
            text-align: center;

            .auto-event img {
                text-align: center;
                width: 50%;
                //padding: 2rem;
            }

            .TadiSas a img{
                border-radius: 50%;
            }

            .auto-event a img{
                cursor: pointer;
                

                &:hover{
                    box-shadow: 1rem 1rem 1rem rgba($white,0.5);
                }
            }


            // .rideSumit{
            //     width: 50%;
            // }
        }

    }
}

// COUNTDOWN
.coming-soon{
    //min-height: 40vh;
    display: flex; 
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    //background: $gray;
    //color: $white;
    opacity: 0.85;
    padding: 10rem;


    h2{
        font-size: 5rem;
        letter-spacing: 0.9rem;

        .h2-fae{
            color: $redish;
            // background: linear-gradient(to top, white, $redish);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // -moz-background-clip: text;
            // -moz-text-fill-color: transparent;
        }
    }

    .countdown{
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 2rem 0;

        .day, .hour, .minute, .second{
            font-size: 4rem;
        }

    }

    
    .remaining{
        padding: 5rem;
        font-size: 4rem;
    }

    .subscribe{
        text-decoration: none;
        background-color: $redish;
        color: $white;
        padding: 1.5rem;
        border: none;
        border-radius: 20rem;
        font-size: 3rem;
        transition: .2s all;

        &:hover{
            transform: translateY(-0.5rem);
        }
    
        &:active{
            transform: translateY(-0.3rem);
        }
    }

   
}

    // FOOTER SECTION
    #Footer{
        background-color: $gray;
        color: $white;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 3rem;
        text-align: center;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        padding: 10rem 0;


        .about{
            text-align: left;
            //padding-bottom: 15rem;

            h3{
                font-size: 4rem;
                padding: 2.5rem 0;
            }

            p{
                font-size: 2.8rem;
                line-height: 1.3;
            }

            h4{
                font-size: 2.7rem;
                letter-spacing: 0.2rem;
                padding: 1.8rem 0;
            }

            .address-details{
                font-size: 2.2rem;
                line-height: 1.5;
            }

            hr{
                margin-top: 1.5rem;
                margin-bottom: 3.5rem;
            }

            .copyright{
                font-size: 2.2rem;
                letter-spacing: .1rem;
            }

            .socials i{
                color: $white;
                width: 4rem;
                margin-right: 2rem;
                margin-top: 3rem;

                &:hover{
                    color: #0A66C2;
                    cursor: pointer;
                }
            }
        }

        .contact{
            h3{
                font-size: 4rem;
                padding: 2.5rem 0;
                text-align: center;
                //margin-bottom: 2rem;
            }

            // .contact-form{
            //     //text-align: center;
                
            // }

            .contact-form label{
                font-size: 3rem;
                //padding: 2rem 0;
            }
    
            .contact-form input{
                font-size: 3rem;
                margin: 1rem 0 2rem;
                width: 67%;
                padding: .8rem;
            }

            .contact-form input:focus, textarea:focus{
                outline: none !important;
                border: 0.1rem solid $redish;
                box-shadow: 0 0 1rem $redish;
            }
            // .input:focus {
            //     box-shadow: 0 0 10px #719ECE;
            //   }
    
            .contact-form textarea{
                font-size: 2rem;
                margin-top: 1rem;
                margin-bottom: 2rem;
                padding: 1rem;
            }

            .submit{
                background-color: $redish;
                color: $white;
                padding: 1rem 2rem;
                border: none;
                border-radius: .9rem;
                width: 67%;
                font-size: 3rem;
                text-align: center;

                &:hover{
                    cursor: pointer;
                    background-color: lighten($redish, 4%);
                }

                &:active{
                    background-color: darken($redish, 3%);
                }
            }
        }

    }


@media screen and(max-width: 540px){
    .header-overlay{
            text-align: center;
            align-items: center;
            justify-self: center;
            //padding: 1rem 0;
        h1{
            font-size: 4rem;
            //padding: 2rem 0;
        }

        .fae{
            width: 50%;
            margin: 0 auto;
            text-align: center;
            align-items: center;

            .auto-event{
                width: 100%;

                & a img{
                    box-shadow: .5rem .5rem .5rem rgba($white,0.5);
                    margin: 1.3rem 0;
                }
            }
        }
    }

    h2 > span{
        font-size: 3.5rem;
        letter-spacing: 0.9rem;

        .h2-fae{
            color: $redish;
            // background: linear-gradient(to top, white, $redish);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // -moz-background-clip: text;
            // -moz-text-fill-color: transparent;
        }
    }
}


//@media screen and(max-width: 1070px){
    // .fae{
    //     .auto-event{
    //         //grid-column: span 2;
    //         display: grid;
    //         grid-template-columns: 1fr 1fr;
    //         gap: 3rem;
    //     }
    //     .driveTour a{
    //         width: 40rem;
    //         padding-right: 2rem;
    //         //height: 20rem;
    //     }

    //     .rideSumit a{
    //         width: 30rem;
    //         //padding-left: 5rem;
    //     }

    //     .flyntAutoShow a{
    //         width: 30rem;
    //         padding-right: 2rem;
    //     }

    //     .TadiSas a{
    //         width: 30rem;
    //         //padding-right: 2rem;
    //     }
    // }
    
//}



// @media screen and(min-width: 750px) and (max-width: 950px){
//     .driveTour{
//         width: 35rem;
//         padding-right: 2rem;
//     }

//     .rideSumit{
//         width: 30rem;
//         // padding-right: 2rem;
//     }

//     .rideSumit, .TadiSas{
//         padding-right: 4rem;
//     }
// }

// @media screen and(max-width: 750px){
//     .fae{
//         //padding-left: 2rem;
//         // .auto-event{
//         //     display: block;
//         //     width: 100%;
//         //     grid-template-columns:  1fr;
//         //     grid-column: span 2;
//         //     gap: 5rem;
//         //     justify-items: center;
//         // }

//         .rideSumit a{
//             width: 5rem;
//         }

//         .flyntAutoShow a{
//             width: 30rem;
//         }
//     }
// }

// @media screen and(max-width: 500px){
//     .driveTour a{
//         width: 40rem;
//         padding-right: 2rem;
//         //height: 20rem;
//     }

//     .rideSumit a{
//         width: 30rem;
//         //padding-left: 5rem;
//     }

//     .flyntAutoShow a{
//         width: 30rem;
//         padding-right: 2rem;
//     }

//     .TadiSas a{
//         width: 30rem;
//         //padding-right: 2rem;
//     }
// }